@facemaskme-main-color: #542bb5;
@facemaskme-secondary-color: #7bf4e3;

@brand-primary: @facemaskme-secondary-color;


@body-background-color: @facemaskme-main-color;
@link-color: @facemaskme-main-color;
@btn-primary-color: @facemaskme-main-color;
