.add-to-basket {
    width: auto;
}


.page_inner {
    margin-bottom: 20px;
}

.footer {

}

ul.footer_links {
    list-style-type: none;
}

ul.inline li {
    display: inline-block;
    margin-right: 20px;
}

footer a,
footer a:hover{
    color: white;
}
