{% extends "oscar/layout.html" %}
{% load staticfiles %}
{% load image_tags %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "homepage/css/homepage.css" %}" />
{% endblock %}

{% block layout %}
<div class="container-fluid page">
    <div class="page_inner">
        <img src="{% static "homepage/img/FMAC.jpg" %}" style="width: 100%"/>

        <div id="hero" class="jumbotron">
            <h1>Blijf jezelf</h1>
            <p>Ook in mondmasker-tijden.</p>
        </div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        {% with product=products.own_design %}
        <div class="col-lg-6 product">
            {% with image=product.primary_image %}
                {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
                <img class="img-circle" src="{{ thumb.url }}" alt="{{ product.get_title }}" width="140" height="140">
            {% endwith %}
            <h2>Eigen afbeelding</h2>
            <p>Upload een eigen foto, grafisch design of leuke afbeelding en creëer zo je eigen mondmasker.</p>
            {% include "oscar/catalogue/partials/stock_record.html" %}
            <p><a class="btn btn-default" href="{{ product.get_absolute_url }}" role="button">Bestel nu &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        {% endwith %}
        {% with product=products.selfie %}
        <div class="col-lg-6 product">
            {% with image=product.primary_image %}
            {% oscar_thumbnail image.original "x155" upscale=False as thumb %}
            <img class="img-circle" src="{{ thumb.url }}" alt="{{ product.get_title }}" width="140" height="140">
            {% endwith %}
            <h2>Jouw gezicht</h2>
            <p>Neem een selfie en creëer zo een mondmasker van je eigen gezicht.</p>
            {% include "oscar/catalogue/partials/stock_record.html" %}
            <p><a class="btn btn-default" href="{{ product.get_absolute_url }}" role="button">Bestel nu &raquo;</a></p>
        </div><!-- /.col-lg-6 -->
        {% endwith %}
    </div><!-- /.row -->



</div><!-- /.container -->
    </div>
</div>
{% endblock %}
