{% extends 'oscar/dashboard/layout.html' %}
{% load i18n %}
{% load static %}

{% block title %}
{% blocktrans with number=line.order.number id=line.id%}
Order {{ number }} - Line #{{ id }}
{% endblocktrans %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumb">
    <li>
        <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
    </li>
    <li>
        <a href="{% url 'dashboard:order-list' %}">{% trans "Orders" %}</a>
    </li>
    <li>
        <a href="{% url 'dashboard:order-detail' number=line.order.number %}">#{{ line.order.number }}</a>
    </li>
    <li class="active">{% blocktrans with id=line.id %}Line #{{ id }}{% endblocktrans %}</li>
</ul>
{% endblock %}

{% block headertext %}
{% blocktrans with number=line.order.number id=line.id %}Order #{{ number }} - Line #{{ id }}{% endblocktrans %} ({{ line.product }})
{% endblock %}

{% block dashboard_content %}
<div class="row">
    <div class="col-sm-6">
        <div id="facemask-editor-container" class="item active">
            <div id="facemask-editor"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <ol>
            {% if facemask.original_image %}
            <li><a href="{{ facemask.original_image.url }}" class="btn btn-default">Download full image</a></li>
            {% else %}
            <li>Geen original image! Is dit een face mask me?</li>
            {% endif %}
            <li><input type="file" id="fileUploadInput" class="filestyle" data-input="false" data-buttonText="Kies een afbeelding" data-badge="false"></li>
            <!--    <li><button id="rotateImageButton" class="btn btn-default"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Roteer beeld</button></li>-->
            <li>Verschuif de afbeelding op de juiste plaats met je vinger of muis</li>
            <li><button id="toggleGuides" class="btn btn-default">Guides uitzetten</button></li>
            <!--    <li><button id="handleSelfieButton" class="btn btn-default"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Start camera</button></li>-->
            <!--    <li><button id="switchCameraButton" class="btn btn-default" disabled><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Wissel camera</button></li>-->
            <!--    <li>Zet je neus en mond op de juiste plaats</li>-->
            <!--    <li><button id="captureSelfieButton" class="btn btn-default" disabled><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Leg foto vast</button></li>-->
            <li><button id="toggleRotationButton" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Looks good?</button></li>
            <li><button id="saveNewFacemask" class="btn btn-default">Save new facemask</button></li>
        </ol>
    </div>
</div>

<form method="post" id="facemask-editor-form">
    {% csrf_token %}
    {{ facemask_form }}
</form>

{% endblock %}


{% block extrahead %}
{{ block.super }}
<script src="{{ playcanvas_root }}playcanvas-stable.min.js"></script>
<script>
ASSET_PREFIX = "{{ playcanvas_root }}";
SCRIPT_PREFIX = "{{ playcanvas_root }}";
SCENE_PATH = "916290.json";
CONTEXT_OPTIONS = {
    'antialias': true,
    'alpha': false,
    'preserveDrawingBuffer': false,
    'preferWebGl2': true
};
SCRIPTS = [ 31158195, 31131722, 30592936, 30620114, 30628754, 30803527, 30842522, 30932427, 30980131, 30981096, 30989281, 30989768, 30996399, 31153188 ];
CONFIG_FILENAME = "{{ playcanvas_root }}config.json";
INPUT_SETTINGS = {
    useKeyboard: true,
    useMouse: true,
    useGamepads: false,
    useTouch: true
};
pc.script.legacy = false;
PRELOAD_MODULES = [
];
EDITOR_UPLOAD_URL = '{% url 'editor:upload' %}';
</script>
{% endblock %}

{% block extrastyles %}
{{ block.super }}
<link rel="stylesheet" href="{{ playcanvas_root }}styles.css" />
<style>
/* Empty block for PlayCanvas */

.glyphicon {
    font-family: "Glyphicons Halflings" !important;
}

.bootstrap-filestyle {
    display: inline-block;
}

#facemask-editor-container,
#facemask-editor {
    /*width: 570px;*/
    height: 400px;
}

@media only screen and (max-width : 500px) {
    #product_gallery .thumbnail {
        margin-right: -10%;
        margin-left: -10%;
    }
}

video {
    width: 100%;
}
</style>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
<script src="{{ playcanvas_root }}__start__.js"></script>
<script src="{% static "editor/js/bootstrap-filestyle.min.js" %}"></script>
<script>
var facemask_editor_canvas = document.getElementById('application-canvas');
document.getElementById('facemask-editor').appendChild(facemask_editor_canvas);

var app = pc.Application.getApplication();
var guidesEnabled = false;
app.on("start", function () {
    $('#saveNewFacemask').on('click', function(e) {
        // e.preventDefault();

        var editorForm = $('#facemask-editor-form');
        toggleGuides(false);

        uploadFile(EDITOR_UPLOAD_URL, function(err, response) {
            if (!err && response.success) {
                $('#id_facemask_id').val(response.mask_id);
                editorForm.submit();
            } else {
                if (window.Sentry) {
                    if (err instanceof Error) {
                        Sentry.captureException(err);
                    } else {
                        Sentry.captureMessage(err);
                    }
                }
                console.error(err || response);
                alert("Oeps, er ging iets mis bij het opslaan van je masker! Probeer het later opnieuw.");
            }
        });
    });

    $('#fileUploadInput').on('change', handleImageAsSelfie);
    $('#toggleRotationButton').on('click', toggleRotation).on('click', function() {
        $(this).children('.glyphicon')
            .toggleClass('glyphicon-play', !shouldRotate)
            .toggleClass('glyphicon-pause', shouldRotate);
    });
    $('#rotateImageButton').on('click', rotateImage);
    $('#handleSelfieButton, #switchCameraButton')
        .on('click', function() {
            guidesEnabled = true;
            if (window.facingMode === 'user') {
                window.facingMode = 'environment';
            } else {
                window.facingMode = 'user';
            }
        })
        .on('click', handleSelfie)
        .on('click', function() {
            $('#captureSelfieButton').prop('disabled', false);
            $('#switchCameraButton').prop('disabled', false);
        });
    $('#captureSelfieButton').on('click', captureSelfie);
    $('#toggleGuides').on('click', function () {
        guidesEnabled != guidesEnabled;
        toggleGuides(guidesEnabled);
    });
});
</script>
{% endblock %}
