{% extends "oscar/catalogue/detail.html" %}
{% load i18n %}
{% load static %}

{% comment %}
Disable a lot of blocks here
{% endcomment %}
{% block breadcrumbs %}{% endblock %}
{% block product_info %}{% endblock %}


{% block product_gallery %}
<div class="col-sm-6">
    <div id="product_gallery" class="carousel">
        <div class="thumbnail">
            <div class="carousel-inner">
                <div class="item active">
                    <div id="facemask-editor"></div>
                </div>
            </div>
        </div>
        {% if product.id == products.own_design.id %}
        <ol>
            <li><input type="file" id="fileUploadInput" class="filestyle" data-input="false" data-buttonText="Kies een afbeelding" data-badge="false"></li>
            <li><button id="rotateImageButton" class="btn btn-default"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Roteer beeld</button></li>
            <li>Verschuif de afbeelding op de juiste plaats met je vingen of muis</li>
            <li><button id="toggleRotationButton" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Looks good?</button> Bestellen maar! Begin anders opnieuw bij 1</li>
        </ol>
        {% endif %}
        {% if product.id == products.selfie.id %}
        <ol>
            <li><button id="handleSelfieButton" class="btn btn-default"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span> Start camera</button></li>
            <li><button id="switchCameraButton" class="btn btn-default" disabled><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Wissel camera</button></li>
            <li>Zet je neus en mond op de juiste plaats</li>
            <li><button id="captureSelfieButton" class="btn btn-default" disabled><span class="glyphicon glyphicon-record" aria-hidden="true"></span> Leg foto vast</button></li>
            <li><button id="toggleRotationButton" class="btn btn-default"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> Looks good?</button> Bestellen maar! Begin anders opnieuw bij 1</li>
        </ol>

        {% endif %}
    </div>
</div>
{% endblock %}

{% block product_basket_form %}
{{ block.super }}
{% include "oscar/basket/partials/basket_quick.html" %}
{% comment %}
{% block mini_basket %}{% include "oscar/partials/mini_basket.html" %}{% endblock %}
{% endcomment %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% static "editor/playcanvas/13/" as pc_prefix %}
<script src="{{ pc_prefix }}playcanvas-stable.min.js"></script>
<script>
ASSET_PREFIX = "{{ pc_prefix }}";
SCRIPT_PREFIX = "{{ pc_prefix }}";
SCENE_PATH = "916290.json";
CONTEXT_OPTIONS = {
    'antialias': true,
    'alpha': false,
    'preserveDrawingBuffer': false,
    'preferWebGl2': true
};
SCRIPTS = [ 31158195, 31131722, 30592936, 30620114, 30628754, 30803527, 30842522, 30932427, 30980131, 30981096, 30989281, 30989768, 30996399, 31153188 ];
CONFIG_FILENAME = "{{ pc_prefix }}config.json";
INPUT_SETTINGS = {
    useKeyboard: true,
    useMouse: true,
    useGamepads: false,
    useTouch: true
};
pc.script.legacy = false;
PRELOAD_MODULES = [
];
EDITOR_UPLOAD_URL = '{% url 'editor:upload' %}';
</script>
{% endblock %}

{% block extrastyles %}
{{ block.super }}
{% static "editor/playcanvas/13/" as pc_prefix %}
<link rel="stylesheet" href="{{ pc_prefix }}styles.css" />
<style>
/* Empty block for PlayCanvas */

.glyphicon {
    font-family: "Glyphicons Halflings" !important;
}

.bootstrap-filestyle {
    display: inline-block;
}

@media only screen and (max-width : 500px) {
    #product_gallery .thumbnail {
        margin-right: -10%;
        margin-left: -10%;
    }
}

video {
    width: 100%;
}
</style>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
{% static "editor/playcanvas/13/" as pc_prefix %}
<script src="{{ pc_prefix }}__start__.js"></script>
<script src="{% static "editor/js/bootstrap-filestyle.min.js" %}"></script>
<script>
var facemask_editor_canvas = document.getElementById('application-canvas');
document.getElementById('facemask-editor').appendChild(facemask_editor_canvas);

var app = pc.Application.getApplication();
app.on("start", function () {
    $('#add_to_basket_form').on('submit', function(e) {
        e.preventDefault();

        var orderForm = this;

        uploadFile(EDITOR_UPLOAD_URL, function(response) {
            if (response.success) {
                $('#id_mask-image-id').val(response.mask_id);
                orderForm.submit();
            } else {
                console.error(response);
                alert(response.error || response);
            }
        });
    });

    $('#fileUploadInput').on('change', handleImageInputChange);
    $('#toggleRotationButton').on('click', toggleRotation).on('click', function() {
        $(this).children('.glyphicon')
            .toggleClass('glyphicon-play', !shouldRotate)
            .toggleClass('glyphicon-pause', shouldRotate);
    });
    $('#rotateImageButton').on('click', rotateImage);
    $('#handleSelfieButton, #switchCameraButton')
        .on('click', function() {
            if (window.facingMode === 'user') {
                window.facingMode = 'environment';
            } else {
                window.facingMode = 'user';
            }
        })
        .on('click', handleSelfie)
        .on('click', function() {
            $('#captureSelfieButton').prop('disabled', false);
            $('#switchCameraButton').prop('disabled', false);
        });
    $('#captureSelfieButton').on('click', captureSelfie);
});
</script>
{% endblock %}
