{% extends "oscar/catalogue/detail.html" %}
{% load i18n %}
{% load static %}

{% comment %}
Disable a lot of blocks here
{% endcomment %}
{% block breadcrumbs %}{% endblock %}
{% block product_info %}{% endblock %}


{% block product_gallery %}
<div class="col-sm-6">
    <div id="product_gallery" class="carousel">
        <div class="thumbnail">
            <div class="carousel-inner">
                <div class="item active">
                    <div id="facemask-editor"></div>
                </div>
            </div>
        </div>
        <input type="file" id="fileUploadInput" class="filestyle" data-input="false" data-buttonText="" data-badge="false">
        <button id="toggleRotationButton" class="btn btn-default" title="{% trans "Rotate mask" %}"><span class="glyphicon glyphicon-play" aria-hidden="true"></span></button>
        <button id="rotateImageButton" class="btn btn-default" title="{% trans "Rotate image" %}"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span></button>
        <button id="handleSelfieButton" class="btn btn-default" title="{% trans "Use selfie" %}"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span></button>
        <button id="captureSelfieButton" class="btn btn-default" title="{% trans "Capture" %}" disabled><span class="glyphicon glyphicon-record" aria-hidden="true"></span></button>
    </div>
</div>
{% endblock %}

{% block product_basket_form %}
{{ block.super }}
{% include "oscar/basket/partials/basket_quick.html" %}
{% comment %}
{% block mini_basket %}{% include "oscar/partials/mini_basket.html" %}{% endblock %}
{% endcomment %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{% static "editor/playcanvas/7/" as pc_prefix %}
<script src="{{ pc_prefix }}playcanvas-stable.min.js" %}"></script>
<script>
ASSET_PREFIX = "{{ pc_prefix }}";
SCRIPT_PREFIX = "{{ pc_prefix }}";
SCENE_PATH = "916290.json";
CONTEXT_OPTIONS = {
    'antialias': true,
    'alpha': false,
    'preserveDrawingBuffer': false,
    'preferWebGl2': true
};
SCRIPTS = [ 31158195, 31131722, 30592936, 30620114, 30628754, 30803527, 30842522, 30932427, 30980131, 30981096, 30989281, 30989768, 30996399, 31153188 ];
CONFIG_FILENAME = "{{ pc_prefix }}config.json";
INPUT_SETTINGS = {
    useKeyboard: true,
    useMouse: true,
    useGamepads: false,
    useTouch: true
};
pc.script.legacy = false;
PRELOAD_MODULES = [
];
EDITOR_UPLOAD_URL = '{% url 'editor:upload' %}';
</script>
{% endblock %}

{% block extrastyles %}
{{ block.super }}
{% static "editor/playcanvas/7/" as pc_prefix %}
<link rel="stylesheet" href="{{ pc_prefix }}styles.css" />
<style>
/* Empty block for PlayCanvas */

.glyphicon {
    font-family: "Glyphicons Halflings" !important;
}

.bootstrap-filestyle {
    display: inline-block;
}
</style>
{% endblock %}

{% block extrascripts %}
{{ block.super }}
{% static "editor/playcanvas/7/" as pc_prefix %}
<script src="{{ pc_prefix }}__start__.js"></script>
<script src="{% static "editor/js/bootstrap-filestyle.min.js" %}"></script>
<script>
var facemask_editor_canvas = document.getElementById('application-canvas');
document.getElementById('facemask-editor').appendChild(facemask_editor_canvas);

var app = pc.Application.getApplication();
app.on("start", function () {
    $('#add_to_basket_form').on('submit', function(e) {
        e.preventDefault();

        var orderForm = this;

        uploadFile(EDITOR_UPLOAD_URL, function(response) {
            if (response.success) {
                $('#id_mask-image-id').val(response.mask_id);
                orderForm.submit();
            } else {
                console.error(response);
                alert(response.error || response);
            }
        });
    });

    $('#fileUploadInput').on('change', handleImageInputChange);
    $('#toggleRotationButton').on('click', toggleRotation).on('click', function() {
        $(this).children('.glyphicon')
            .toggleClass('glyphicon-play', !shouldRotate)
            .toggleClass('glyphicon-pause', shouldRotate);
    });
    $('#rotateImageButton').on('click', rotateImage);
    $('#handleSelfieButton').on('click', handleSelfie).on('click', function() {
        $('#captureSelfieButton').prop('disabled', false);
    });
    $('#captureSelfieButton').on('click', captureSelfie);
});
</script>
{% endblock %}
